<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miener.dao.mariadb.InstallDAO">

    <select id="WkGetHoInfo" parameterType="Map" resultType="map">
        Call WkGetHoInfo(${seqHo})
    </select>

    <select id="WkGetImageMeterListByHo" parameterType="Map" resultType="map">
        call WkGetImageMeterListByHo(${seqHo}, 'https://egservice.co.kr/sgp_work_media')
    </select>

    <update id="updateDcuInfo" parameterType="com.miener.dto.DcuUpdDTO">
        UPDATE dcu
        SET DcuId        = #{dcuId},
            LteSn        = #{lteSn},
            nPortSsh2    = #{sshPort},
            nFepTrapPort = #{fepPort},
            nPortSnmp    = #{snmpPort}
        WHERE nSeqDcu = #{seqDcu}
    </update>

</mapper>