<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miener.dao.mariadb.InstallDAO">

    <select id="WkGetHoInfo" parameterType="Map" resultType="map">
        Call WkGetHoInfo(${seqHo})
    </select>

    <select id="WkGetImageMeterListByHo" parameterType="Map" resultType="map">
        call WkGetImageMeterListByHo(${seqHo}, 'https://egservice.co.kr/sgp_work_media')
    </select>

    <update id="updateDcuInfo" parameterType="com.miener.dto.DcuUpdDTO">
        UPDATE dcu
        SET DcuId        = #{dcuId},
            LteSn        = #{lteSn},
            nPortSsh2    = #{sshPort},
            nFepTrapPort = #{fepPort},
            nPortSnmp    = #{snmpPort},
            Location     = #{location}
        WHERE nSeqDcu = #{seqDcu}
    </update>


    <update id="updateMeterInfo" parameterType="com.miener.dto.HoUpdateDto">
        UPDATE meter
        SET MacAddr = #{meterMacAddress}
        WHERE nSeqMeter = #{seqMeter}
    </update>

    <update id="updateAptHoInfo" parameterType="com.miener.dto.HoUpdateDto">
        UPDATE aptho
        SET nValueStart = #{meterValueStart},
        bBoundToModem = #{boundToModem},
        nSeqMeter = #{seqMeter},

        dtMeterInstalled =
        <if test="seqMeter != null">
            IFNULL(dtMeterInstalled, NOW())
        </if>
        <if test="seqMeter == null">
            NULL
        </if>
        WHERE nSeqAptHo = #{seqHo}
    </update>

    <insert id="insertInstallHistory"
            parameterType="com.miener.dto.MeterInstallHistoryDto"
            useGeneratedKeys="true" keyProperty="seq">
        INSERT INTO meter_install_history
            (nSeqWorker, nSeqHo, dtInstalled)
        VALUES (#{seqWorker}, #{seqHo}, NOW())
    </insert>

    <insert id="insertDcuInstallHistory"
            parameterType="com.miener.dto.DcuInstallHistoryDto"
            useGeneratedKeys="true" keyProperty="seq">
        INSERT INTO dcu_install_history
            (nSeqWorker, nSeqDcu, nSeqSite, dtInstalled)
        VALUES (#{seqWorker}, #{seqDcu}, #{seqSite}, NOW())
    </insert>

    <select id="WkGetHoListBySiteForPaging" parameterType="Map" resultType="map">
        call WkGetHoListBySiteForPaging(${seqSite}, ${IndexFrom}, ${IndexTo}, ${seqCode})
    </select>

    <select id="getSeqMeterByMid" parameterType="String" resultType="Long">
        SELECT nSeqMeter
        FROM meter
        WHERE Mid = #{mid}
    </select>


    <select id="getMeterInstallationHistory" parameterType="com.miener.dto.MeterInstallHistorySearchDto"
            resultType="com.miener.dto.InstallHistoryResultDto">
        SELECT
        s.name AS siteName,
        s.nSeqSite as seqSite,
        s.MetroProv,
        s.CityDist,
        ad.Name AS dongName,
        ah.name AS hoName,
        ah.nSeqMeter as seqMeter,
        ah.nSeqAptHo as seqHo,
        ah.MidPrev,
        a.Name AS workerName,
        m.mid,
        mih.dtInstalled AS installDate,
        mih.nSeqHo AS seqHo
        FROM meter_install_history mih
        LEFT JOIN aptho ah ON ah.nSeqAptHo = mih.nSeqHo
        LEFT JOIN aptdong ad ON ad.nSeqAptDong = ah.nSeqAptDong
        LEFT JOIN site s ON s.nSeqSite = ad.nSeqSite
        LEFT JOIN admin a ON a.nSeqAdmin = mih.nSeqWorker
        LEFT JOIN meter m ON ah.nSeqMeter = m.nSeqMeter

        <where>
            <if test="seqSite != null and seqSite != ''">
                AND s.nSeqSite = #{seqSite}
            </if>
            <if test="seqWorker != null">
                AND mih.nSeqWorker = #{seqWorker}
            </if>
            <if test="metroProv != null and metroProv != ''">
                AND s.MetroProv = #{metroProv}
            </if>

            <if test="installDateFrom != null">
                AND mih.dtInstalled <![CDATA[ >= ]]> #{installDateFrom}
            </if>

            <if test="installDateTo != null">
                AND mih.dtInstalled <![CDATA[ <= ]]> #{installDateTo}
            </if>
        </where>

        ORDER BY mih.dtInstalled DESC
        <if test="limit != null and offset != null">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>


    <select id="getDcuInstallationHistory" parameterType="com.miener.dto.DcuInstallHistorySearchDto"
            resultType="com.miener.dto.InstallHistoryResultDto">
        SELECT
        s.Name as siteName,
        s.nSeqSite as seqSite,
        s.MetroProv,
        s.CityDist,
        d.DcuId,
        d.nSeqDcu as seqDcu,
        d.Location,
        dih.dtInstalled AS installDate,
        a.Name AS workerName
        from
        dcu_install_history dih
        left join dcu d on d.nSeqDcu = dih.nSeqDcu
        left join site s on s.nSeqSite = dih.nSeqSite
        left join admin a on a.nSeqAdmin = dih.nSeqWorker

        <where>
            <if test="seqSite != null and seqSite != ''">
                AND dih.nSeqSite = #{seqSite}
            </if>
            <if test="seqWorker != null and seqWorker != ''">
                AND dih.nSeqWorker = #{seqWorker}
            </if>
            <if test="metroProv != null and metroProv != ''">
                AND s.MetroProv = #{metroProv}
            </if>

            <if test="installDateFrom != null">
                AND dih.dtInstalled <![CDATA[ >= ]]> #{installDateFrom}
            </if>

            <if test="installDateTo != null">
                AND dih.dtInstalled <![CDATA[ <= ]]> #{installDateTo}
            </if>
        </where>

        ORDER BY dih.dtInstalled DESC
        <if test="limit != null and offset != null">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>


    <select id="countMeterInstallationHistory" parameterType="com.miener.dto.MeterInstallHistorySearchDto"
            resultType="int">
        SELECT COUNT(*)
        FROM meter_install_history mih
        LEFT JOIN aptho ah ON ah.nSeqAptHo = mih.nSeqHo
        LEFT JOIN aptdong ad ON ad.nSeqAptDong = ah.nSeqAptDong
        LEFT JOIN site s ON s.nSeqSite = ad.nSeqSite
        LEFT JOIN admin a ON a.nSeqAdmin = mih.nSeqWorker
        LEFT JOIN meter m ON ah.nSeqMeter = m.nSeqMeter

        <where>
            <if test="seqSite != null and seqSite != ''">
                AND s.nSeqSite = #{seqSite}
            </if>
            <if test="seqWorker != null">
                AND mih.nSeqWorker = #{seqWorker}
            </if>
            <if test="metroProv != null and metroProv != ''">
                AND s.MetroProv = #{metroProv}
            </if>

            <if test="installDateFrom != null">
                AND mih.dtInstalled <![CDATA[ >= ]]> #{installDateFrom}
            </if>

            <if test="installDateTo != null">
                AND mih.dtInstalled <![CDATA[ <= ]]> #{installDateTo}
            </if>
        </where>
    </select>


    <select id="countDcuInstallationHistory" parameterType="com.miener.dto.DcuInstallHistorySearchDto"
            resultType="int">
        SELECT COUNT(*)
        from
        dcu_install_history dih
        left join dcu d on d.nSeqDcu = dih.nSeqDcu
        left join site s on s.nSeqSite = dih.nSeqSite
        left join admin a on a.nSeqAdmin = dih.nSeqWorker

        <where>
            <if test="seqSite != null and seqSite != ''">
                AND dih.nSeqSite = #{seqSite}
            </if>
            <if test="seqWorker != null">
                AND dih.nSeqWorker = #{seqWorker}
            </if>
            <if test="metroProv != null and metroProv != ''">
                AND s.MetroProv = #{metroProv}
            </if>

            <if test="installDateFrom != null">
                AND dih.dtInstalled <![CDATA[ >= ]]> #{installDateFrom}
            </if>

            <if test="installDateTo != null">
                AND dih.dtInstalled <![CDATA[ <= ]]> #{installDateTo}
            </if>
        </where>
    </select>

</mapper>