.select2-container .select2-selection--single {
    height: 54px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 54px !important;
    color: #000000;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 54px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 12pt;
}

.select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border: 1px solid #0A7AFF !important;
    border-radius: 7px !important;
}