/* 기본 초기화 */
body, html {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* 로그인 전체 컨테이너 */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px 40px 20px;
    text-align: center;
}

.login-label {
    color: #474747;
    font-size: 9.75pt;
    font-weight: 400;
    width: 100%;
    text-align: left;
    display: flex;
}

/* 입력 필드 스타일 */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 14px 12px;
    margin: 5px 0;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000000;
    text-align: left;
    font-size: 11.25pt;
    font-weight: 400;
    text-transform: none;
}

/* 하단 링크 */
.login-container a {
    display: inline-block;
    margin: 12px 10px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}


.login-container img.logo {
    width: 100%;
    margin-bottom: 10px;
    background-size: cover;
}

.login-container .subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}

.character-row {
    margin-bottom: 5px;
}


/* 로그인 버튼 */
#loginBtn {
    width: 100%;
    padding: 14px;
    background-color: #E2E2E2;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
}

#loginBtn :hover {
    background-color: #9b9b9b;
}

#loginBtn.active {
    background-color: #00A8FF; /* 배경색: 00A8FF */
    color: #FFFFFF; /* 텍스트색: FFFFFF */
    cursor: pointer; /* 활성화 상태에서는 클릭 가능 커서 */
}

.login-links {
    display: flex; /* Flexbox 활성화 */
    justify-content: center; /* 전체 아이템들을 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 (구분자 | 와 텍스트 높이 맞춤) */
    margin-top: 16px;
    /* 너비가 정해지지 않았다면, 부모 요소의 너비를 채웁니다. */
    width: 100%;
}

.login-links a {
    /* Flex-grow를 1로 설정하여 사용 가능한 공간을 균등하게 분배합니다. */
    flex-grow: 1;

    /* 텍스트를 각 A 태그 내부에서 중앙 정렬합니다. */
    text-align: center;

    text-decoration: none;
    color: #555; /* 예시 색상 */
    padding: 5px 0; /* 클릭 영역 확보 */
}

.login-links span {
    color: #000000;
    padding: 0 5px; /* 구분자 양 옆에 약간의 여백 추가 */
}