/* 기본 초기화 */
body, html {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* 로그인 전체 컨테이너 */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.login-label {
    color: #474747;
    font-size: 9.75pt;
    font-weight: 400;
    width: 100%;
    text-align: left;
    display: flex;
}

/* 입력 필드 스타일 */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 14px 12px;
    margin: 5px 0;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000000;
    text-align: left;
    font-size: 11.25pt;
    font-weight: 400;
    text-transform: none;
}

/* 하단 링크 */
.login-container a {
    display: inline-block;
    margin: 12px 10px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

/* 캐릭터 & 배경 */
.login-container::before {
    content: "";
    display: block;
    background: linear-gradient(to bottom, #00aaff 200px, white 200px);
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.login-container img.logo {
    width: 100%;
    margin-bottom: 10px;
}

.login-container .subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}

.character-row {
    margin-bottom: 20px;
}


/* 로그인 버튼 */
#loginBtn {
    width: 100%;
    padding: 14px;
    background-color: #E2E2E2;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
}

#loginBtn :hover {
    background-color: #9b9b9b;
}

